.flexparent {
  display: flex;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flexparent > div {
  flex: 1;
}



.flexchild {
  /* flex: 1; */
  margin: 0px,20px,0px,20px;
}

.flexparent.vcenter {
  align-items: center;
}

#ijreaction {
  position: absolute; 
  bottom: 0;
  left: 0; 
  width: 300px;
  margin: 0,0,0,0 !important;
}

.zoom {  
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#whale-fly {
  align-items: center;
  justify-content: space-between;
}

.flexchild.marginwider {
  margin: 0px,20px,0px,20px;
}

.bigcode {
  font-size: 15 !important;
}

.titlecard {
  background-color: rgb(255, 0, 0, .50);
}

.pop {
  color: orange;
}